.cartPage{
  display:flex;
  gap:30px;
  padding:40px;
  background:#f5f5f5;
  min-height:100vh;
}

.cartItems{
  flex:2;
}

.cartTitle{
  margin-bottom:20px;
  font-weight:700;
}

.cartCard{
  background:white;
  border-radius:20px;
  padding:20px;
  margin-bottom:20px;
  display:flex;
  align-items:center;
  gap:20px;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
  transition:0.3s;
}

.cartCard:hover{
  transform:translateY(-3px);
}

.cartImage{
  width:120px;
  height:140px;
  object-fit:cover;
  border-radius:15px;
}

.cartInfo{
  flex:1;
}

.price{
  font-size:18px;
  font-weight:600;
  margin:8px 0;
}

.delivery{
  color:green;
  font-size:14px;
}

.qtyBox{
  display:flex;
  align-items:center;
  gap:15px;
  margin-top:15px;
}

.qtyBox button{
  width:35px;
  height:35px;
  border:none;
  border-radius:50%;
  background:black;
  color:white;
  font-size:18px;
  cursor:pointer;
}

.qtyBox button:disabled{
  background:#ccc;
  cursor:not-allowed;
}

.cartRight{
  text-align:right;
}

.removeBtn{
  border:none;
  background:red;
  color:white;
  padding:8px 15px;
  border-radius:8px;
  margin-top:10px;
}

.summaryBox{
  flex:1;
  background:white;
  padding:25px;
  border-radius:20px;
  height:fit-content;
  position:sticky;
  top:20px;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.summaryRow,
.summaryTotal{
  display:flex;
  justify-content:space-between;
  margin:15px 0;
}

.summaryTotal{
  font-size:22px;
  font-weight:700;
}

.green{
  color:green;
}

.checkoutBtn{
  width:100%;
  padding:15px;
  border:none;
  background:black;
  color:white;
  border-radius:12px;
  font-size:18px;
  margin-top:20px;
  cursor:pointer;
}

.emptyCart{
  height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.shopBtn{
  padding:12px 25px;
  border:none;
  background:black;
  color:white;
  border-radius:10px;
  margin-top:20px;
}

@media(max-width:900px){

  .cartPage{
    flex-direction:column;
    padding:20px;
  }

  .cartCard{
    flex-direction:column;
    text-align:center;
  }

  .cartRight{
    text-align:center;
  }

}